<div class="container">
  <header class="header">
    <div class="icon-back" (click)="goToHome()">
      <i class="bi bi-arrow-left"></i>
    </div>

    <div class="title">
      <span>{{ puzzleTitle }}</span>
    </div>
  </header>

  <div class="wrapper">
    <div class="grid-container">
      <ng-container *ngFor="let tile of tiles; let i = index">
        <div class="tile-boundary">
          <div
            cdkDrag
            class="grid-item tile"
            [class.blank-tile]="tile.blank"
            [style.grid-row]="tile.boundary!.row"
            [style.grid-column]="tile.boundary!.column"
            cdkDragBoundary=".tile-boundary"
            [cdkDragData]="tile"
            [cdkDragDisabled]="tile.disabled"
            [cdkDragLockAxis]="tile.lockAxis!"
            (cdkDragEnded)="dragEnd($event)"
          >
            <img [src]="tile.image" alt="ImgPiece" />
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <button class="cta" (click)="shuffle(tiles)">
    <span class="span">BARAJAR</span>
  </button>
</div>
